PySide >= 1.2, ~= 1.2.4; python_version >= '2.7' and python_version < '3.5'
lxml >= 3.4; python_version >= '2.7' and python_version < '3.0'
sortedcontainers; python_version >= '2.7' and python_version < '3.5'
