<?xml version="1.0" encoding="utf-8"?>
<config
    explicit="no"
    icons="../data/icons"
    language="eng"
    connectors="polyline"
    maxRecentProjects="10"
    maxBehaviorTreeHistory="40"
    editableLinks="yes"
    saveLibs="yes"
    editLibs="yes"
    animation="yes"
    shadows="yes"
    connectorsHighlight="no"
    connectorsBold="yes"
    debug="no"
    autosaveTime="45"
    autosaveEnabled="no"
>
    <!-- explicit - Настройки сохраняются автоматически при закрытии приложения и читаются при каждом запуске.
                    Этот флаг отвечает за запрет чтения автоматически сохраняемых настроек.
                    Как результат, будут использоваться все значения только из этого конфигурационного файла.
                    Возможные значения: yes, 1, true, no, 0, false -->
    <!-- language - Язык интерфейса.
                    Возможные значения: eng, english, rus, russian, русский, рус -->
    <!-- connectors - Тип соединительных линий для узлов дерева.
                      Возможные значения: curved, curve, line, poly, polyline -->
    <!-- maxRecentProjects - Максимальное количество запоминаемых названий открытых проектов.
                             Используется для быстрого доступа к ранее открывавшимся проектам. -->
    <!-- maxBehaviorTreeHistory - Максимальное количество изменений в структуре дерева,
                                  которое запоминается редактором и доступно для отката этих изменений. -->
    <!-- editableLinks - Разрешение редактирования поддеревьев (те, которые добавлены в виде ссылок).
                         Возможные значения: yes, 1, true, no, 0, false -->
    <!-- saveLibs - Разрешение на сохранение файлов с описанием доступных узлов.
                    Возможные значения: yes, 1, true, no, 0, false -->
    <!-- editLibs - Разрешение на редактирование библиотек доступных узлов.
                    Возможные значения: yes, 1, true, no, 0, false -->
    <!-- animation - Вкл/выкл анимацию для узлов дерева.
                     Возможные значения: yes, 1, true, no, 0, false -->
    <!-- shadows - Вкл/выкл тени для узлов дерева.
                   Возможные значения: yes, 1, true, no, 0, false -->
    <!-- connectorsHighlight - Вкл/выкл подсвечивание соединительных линий активных узлов дерева.
                               Возможные значения: yes, 1, true, no, 0, false -->
    <!-- connectorsBold - Вкл/выкл выделение жирным соединительных линий активных узлов дерева.
                          Возможные значения: yes, 1, true, no, 0, false -->
    <!-- autosaveTime - Интервал автоматического сохранения в секундах.
                        Если значение меньше 0.5 секунды, то автоматическое сохранение выключено.
                        Если параметр отсутствует, то используется значение по-умолчанию равное 45 сек. -->
    <!-- autosaveEnabled - Вкл/выкл автоматическое сохранение.
                           Действует только при autosaveTime больше 0.5 сек.
                           С помощью этого признака можно принудительно выключить автосохранение.
                           Возможные значения: yes, 1, true, no, 0, false -->
</config>
